.cbody{
    text-align: center;
    color: black;
}
.linkreact{
    text-decoration: none;
}
.linkreact:hover{
    text-decoration: none;
}
.list{
    padding:10px
}
body{
    background-image: linear-gradient(to right top, #e3b8d1, #dab3d5, #ceaeda, #beabe0, #a9a9e4, #97b0ee, #82b8f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.card{
    background-color: rgba(255, 255, 255, 0.5);
}
.breadcrumb{
    background-color: rgba(255, 255, 255, 0.5);
}
.card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
  }
.row{
    padding-top: 5px;
}
input[type="text"], textarea {
    background-color : rgba(255, 255, 255, 0.8); 
  
  }