.cbody{
    text-align: center;
    color: black;
}
.linkreact{
    text-decoration: none;
}
.linkreact:hover{
    text-decoration: none;
}
.list{
    padding:10px
}
.container{
    background-color:lightblue
}

